html, body{
    background-color: #21232A;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size:1.3rem;
    padding:70px;
    text-align: center;
}

button.circ {
    width:3rem;
    height: 3rem;
    padding:0.5rem;
    border:0px;
    border-radius: 50%;
    font-size:1.3rem;
    margin-right:0.3rem;
}


button {

    height: 3rem;
    padding:0.5rem 2rem;
    border:0px;
    border-radius: 10rem;
    font-size:1.3rem;
    margin-right:0.3rem;
}